<main class="contenedor contenedor-formularios no-padding">
    <h1><%- nombrePagina %></h1>

    <form class="default-form" action="/cambiar-password" method="POST">
        <div class="campo">
            <label>Password anterior</label>
            <input type="text" name="anterior" placeholder="password actual">
        </div>
        <div class="campo">
            <label>Nuevo Password</label>
            <input type="text" name="nuevo" placeholder="Nuevo password">
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Cambiar password">
        </div>
    </form>
</main> 